body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    


}
h1{
   font-size: 50px;
   color: #575757;

}
.one{
     color:darkorange;


}
p{
  color: #828282; 

}
section{
        display: flex;

}
.half-width{
          width: 50%;
          padding-left: 10%;
          padding-top: 5%;

}
.half-width img{
             width: 100%;
             padding-right: 5%;
}
.link-button{
             text-decoration: none;
             background-image: linear-gradient(tomato,darkorange );
             padding: 10px 40px;
             border-radius: 20px;
             color:white;

            

}
.king{
      background-image: url(images/shapes/7.png);


}
.fish{
    padding-left: 40%;
      align-items: center;


}

