body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    


}
h1{
   font-size: 50px;
   color: #575757;

}
.one{
     color:darkorange;


}
p{
  color: #828282; 

}
.flexibel-containar{
        display: flex;

}
.half-width{
          width: 50%;
          padding-left: 10%;
          padding-top: 5%;

}
.half-width img{
             width: 100%;
             padding-right: 5%;
}
.link-button{
             text-decoration: none;
             background-image: linear-gradient(tomato,darkorange );
             padding: 10px 40px;
             border-radius: 20px;
             color:white;

            

}
.mama{
      padding-left: 40%;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

}
.expart-itmes{
            width: 40%;
            margin-left: 5%;
            margin-right: 5%;
            padding-left: 50px;
            box-shadow: 10px 10px 40px grey;

}
.images img{
           width: 80%;

}
.tow-images img{
        width: 80%;

}

.selction_btn {
     padding: 10px;
     background: #6ea9c5;
     font-weight: 700;
     font-size: 30px;
     line-height: 40px;
     text-align: center;
     color: #010506;
     border-radius: 10px;
     border: 1px solid #95d8df;
 }
 .take_section {
     display: flex;
     justify-content: space-between;
     margin: 10px 0;
 }
 .take_section {
     display: flex;
     justify-content: space-between;
     margin: 10px 0;
 }





 footer.footer_area {
     text-align: center;
     background: #0B0D17;
     padding: 50px 0;
     color: #fff;
 }
 .food-fish{
          color: darkorange;
 }